# common auxiliary files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.pyc
*.o
.done
.itime
a.out
*.exe

# commonly used build folders
input/
output/
io/
tests/
checker

# task-maker build folders
files/
temp/
bin/
fuzz/

# vscode internals
.vscode
__latexindent_temp.tex

# temporary files
*~

# WSL internals
*:Zone.Identifier

# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log

# Ignore input/output files
*.in
*.out
*.zip

